<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This notebook I will summarize common Data Science Tools and the Ecosystem

**Objectives**
- Common data science languages
- How to do arithmetic
- Common data sciences libraries

Some of the common languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries that are used by Data Scientists might include:
1. Tensorflow
2. NumPy
3. SciPy

| Data Science Tools | 
| ------------------ | 
| Anaconda           | 
| Jupyterlabs        |
| GitHub             |

### Below are some examples of using arithmetic expressions in python

In [1]:
# Here is an example of how to multiply then add integers
(3*4) + 5

17

In [17]:
# This line of code will conver 200 munites to hours by dividing by 60
x = 200 / 60
print(x,"hours")

3.3333333333333335 hours

## Author
Gabriel Thomas